<div class="ui fluid card" id="dashboard_order_<%= order.id %>">
  <div class="content">
    <table class="ui fluid celled red table">
      <thead>
      <tr>
        <th class="three wide ui header">
          Order Date
        </th>
        <th class="three wide ui header">
          Name
        </th>
        <th class="two wide ui header">
          Room
        </th>
        <th class="two wide ui header">
          Ext.
        </th>
        <th class="four wide ui header">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="">
          <i class="time icon"></i> <%= time_ago_in_words(order.created_at) %>
        </td>
        <td>
          <i class="user icon"></i> <%= order.user.name %>
        </td>
        <td>
          <i class="location icon"></i> <%= order.room.name %>
        </td>
        <td>
          <%= order.user.ext %>
        </td>
        <td>
          <button id="dashboard_order_button_<%= order.id %>"
                  class="ui
                    <% if order.status == 'received' %> red
                    <% elsif order.status == 'processing' %> green
                    <% end %>
                    large button fluid dashboard_order_button"
                  data-id="<%= order.id %>"
                  data-status="<%= order.status %>">
            <% if order.status == 'received' %> Start
            <% elsif order.status == 'processing' %> Finish
            <% end %>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="content">
    <div class="ui five column grid stackable doubling">
      <%= render partial: "product", collection: order.products, locals: {:order => order} %>
    </div>
  </div>
  <div class="extra content">
    <span class="ui header right floated">
      Total Cost: <%= order.get_total %>
    </span>
    <% if order.notes != "" %>
      <div class="ui header red">Notes:</div>
      <div class="header"><%= order.notes %></div>
    <% end %>
  </div>
</div>