<h1>Dashboard</h1>
<% if @orders.each do |order| %>
    <div class="ui fluid card">
      <div class="content">
        <table class="ui fluid celled red table">
          <thead>
          <tr>
            <th class="three wide ui header center aligned">
              Order Date
            </th>
            <th class="three wide ui header center aligned">
              Name
            </th>
            <th class="two wide ui header center aligned">
              Room
            </th>
            <th class="two wide ui header center aligned">
              Ext.
            </th>
            <th class="four wide ui header center aligned">
              Action
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="ui header">
              <%= order.created_at %>
            </td>
            <td>
              <%= order.user.name %>
            </td>
            <td>
              <%= order.room.name %>
            </td>
            <td>
              <%= order.user.ext %>
            </td>
            <td>
              <button class="ui
                <% if order.status == 'received' %> red <% else %> green <% end %>
                large button fluid">
                <% if order.status == 'received' %> Start <% else %> Finish <% end %>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="content">
        <div class="ui five column grid stackable doubling">
        <% order.products.each do |product| %>
          <div class="column">
            <%= image_tag product.picture.url(), class: "ui fluid image" %>
            <br/>
            <h2 class="ui header center aligned">
              <%= OrderProduct.where(order_id: order.id, product_id: product.id).first.amount %>
            </h2>
          </div>
          <% end %>
        </div>
      </div>
      <div class="extra content">
    <span class="ui header right floated">
      Total Cost: <%= order.get_total %>
    </span>
      </div>
    </div>

<% end.empty? %>
        <strong>No live orders right now!!</strong>
<% end %>
