<h1>Dashboard</h1>
<div class="ui fluid card">
  <div class="content">
    <table class="ui fluid celled red table">
        <thead>
            <tr>
              <th class="three wide ui header center aligned">
                Order Date
              </th>
              <th class="three wide ui header center aligned">
                Name
              </th>
              <th class="two wide ui header center aligned">
                Room
              </th>
              <th class="two wide ui header center aligned">
                Ext.
              </th>
              <th class="four wide ui header center aligned">
                Action
              </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="ui header">
                    15-6-2015 23:22:55
                </td>
                <td>
                    Yasser Mohsen
                </td>
                <td>
                    1122
                </td>
                <td>
                  15
                </td>
                <td>
                  <button class="ui red large button fluid">Start</button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="content">
    <div class="ui five column grid stackable doubling">
      <div class="column">
        <%= image_tag "salad.png", class: "ui fluid image" %>
        <br/>
        <h2 class="ui header center aligned">4</h2>
      </div>
      <div class="column">
        <%= image_tag "salad.png", class: "ui fluid image" %>
        <br/>
        <h2 class="ui header center aligned">4</h2>
      </div>
      <div class="column">
        <%= image_tag "salad.png", class: "ui fluid image" %>
        <br/>
        <h2 class="ui header center aligned">4</h2>
      </div>
    </div>
  </div>
  <div class="extra content">
    <span class="ui header right floated">
      Total Cost: 60 LE
    </span>
  </div>
</div>

<div class="ui fluid card">
  <div class="content">
    <table class="ui fluid celled green table">
      <thead>
      <tr>
        <th class="three wide ui header center aligned">
          Order Date
        </th>
        <th class="three wide ui header center aligned">
          Name
        </th>
        <th class="two wide ui header center aligned">
          Room
        </th>
        <th class="two wide ui header center aligned">
          Ext.
        </th>
        <th class="four wide ui header center aligned">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          15-6-2015 23:22:55
        </td>
        <td>
          Yasser Mohsen
        </td>
        <td>
          1122
        </td>
        <td>
          15
        </td>
        <td>
          <button class="ui green large button fluid">Deliver</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="content">
    <div class="ui five column grid stackable doubling">
      <div class="column">
        <%= image_tag "salad.png", class: "ui fluid image" %>
        <br/>
        <h2 class="ui header center aligned">4</h2>
      </div>
      <div class="column">
        <%= image_tag "salad.png", class: "ui fluid image" %>
        <br/>
        <h2 class="ui header center aligned">4</h2>
      </div>
      <div class="column">
        <%= image_tag "salad.png", class: "ui fluid image" %>
        <br/>
        <h2 class="ui header center aligned">4</h2>
      </div>
    </div>
  </div>
  <div class="extra content">
    <span class="ui header right floated">
      Total Cost: 60 LE
    </span>
  </div>
</div>