<h1>
  Checks
</h1>
<%= form_for(:filter,url: admin_checks_path,:method => :get, :html => {:class => "ui mini form", :multipart => true}) do |f| %>

<div class="ui form">
  <div class="inline fields">
    <div class="field">
      <label>By</label>
      <div class="ui mini input">
        <%= f.collection_select(:user, User.all, :id, :name, include_blank: 'All') %>
      </div>
    </div>
    <button class="ui mini button" type="submit">Submit</button>
  </div>
</div>

<% end %>

<table class="ui table accordion">
  <thead>
  <tr>
    <th>Name</th>
    <th>Total Amount</th>
  </tr>
  </thead>
  <% if @data.each do |username, data| %>
      <tbody class="ui title">
      <tr>
        <td><i class="dropdown icon"></i> <%= username %></td>
        <td>EGP <%= data[:total] %></td>
      </tr>
      </tbody>
      <tbody class="ui content">
      <tr>
        <td colspan="2">
          <table class="ui very basic table">
            <thead>
            <tr>
              <th>Order Date</th>
              <th>Amount</th>
            </tr>
            </thead>
            <% if data[:orders].each do |order_id, order| %>
                <tbody class="ui title">
                <tr>
                  <td><i class="dropdown icon"></i> <%= order.created_at %></td>
                  <td>EGP <%= order.get_total %></td>
                </tr>
                </tbody>
                <tbody class="ui content">
                <tr>
                  <td colspan="2">
                    <div class="ui eight column stackable internally celled grid">
                      <% order.products.each do |product| %>
                          <div class="column">
                            <div class="ui card">
                              <div class="image">
                                <%= image_tag product.picture.url(:thumb), :class => "ui mini image" %>
                              </div>
                              <div class="content">
                                <div class="right floated meta"><%= product.price %></div>
                                <%= product.name %>
                              </div>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </td>
                </tr>
                </tbody>
            <% end.empty? %>
                <tr>
                  <td colspan="2"><strong>Nothing to show right now!!</strong></td>
                </tr>
            <% end %>
          </table>
        </td>
      </tr>
      </tbody>
  <% end.empty? %>
      <tr>
        <td colspan="2"><strong>Nothing to show right now!!</strong></td>
      </tr>
  <% end %>
</table>
