<div id="product_<%= product.id %>" class="column">
  <div class="ui card">
    <div class="content">
      <div class="right floated meta"><%= product.price %></div>
      <%= product.name %>
    </div>
    <div class="image">
      <%= image_tag product.picture.url(:thumb), :class => "ui mini image" %>
    </div>
    <button class="ui bottom attached button add-to-cart" data-id="<%= product.id %>" data-category_id="<%= product.category_id %>" data-price="<%= product.price %>">
      <i class="add icon"></i>
      Add to cart
    </button>
  </div>
</div>