
<h2 class="ui header">
  <i class="in cart icon"></i>
  <div class="content">
    My Orders
    <!-- <div class="sub header">Choose what you want, then click checkout</div>
  </div> -->

</h2>

<table class="ui fixed table">
  <thead>
    <tr><th>Order Date</th>
    <th>Status</th>
    <th>Amount</th>
    <th>Action</th>
  </tr></thead>
  <tbody>
    <%for order in @orders%>

    <tr>
      <td>

        <div class="ui accordion">
          <div class="title active">
          <i class="dropdown icon"></i>
          <%=order.created_at%>
        </div>
        <div class="content">
          <div class="transition hidden">
            <%i=0%>
            <div class="ui fluid card">
              <div class="content">
                <div class="ui equal width grid">
            <%for product in @products[order.id]%>
            <div class="column">
                <%= product.price %>LE
                <br>
          <%= image_tag product.picture.url(:thumb), :class => "ui avatar image" %>
                    <br>
          <%= product.name %>
               <br>
                <%= @prodamounts[order.id][i] %>
                <%i+=1%>
                </div>
          <%end%>
          </div>
        </div>
          </div>

        </div>



      </div>

      </td>
      <td id="orderstatus<%=order.id %>"><%=order.status%></td>
      <td><%=@costs[order.id]%> EGP</td>
      <td>
        <%if order.status=="processing" || order.status=="received" %>
        <a class="item" href="#">Cancel</a>
        <%end%>
      </td>

    </tr>
    <%end%>
  </tbody>
</table>
<div class="item">
<div class="right floated item">
Total: <%=@sum%>
  <div>
</div>


<script type="text/javascript">
    $(function(){
        $('.ui.accordion')
          .accordion();
    })
</script>
