
<h2 class="ui header">
  <i class="in cart icon"></i>
  <div class="content">
    My Orders
    <!-- <div class="sub header">Choose what you want, then click checkout</div>
  </div> -->

</h2>

<table class="ui fixed table">
  <thead>
    <tr><th>Order Date</th>
    <th>Status</th>
    <th>Amount</th>
    <th>Action</th>
  </tr></thead>
  <tbody>
    <%for order in @orders%>

    <tr>
      <td>

        <div class="ui accordion">
          <div class="title active">
          <i class="dropdown icon"></i>
          <%=order.created_at%>
        </div>
        <div class="content">
          <p class="transition hidden">order details</p>
        </div>



      </div>

      </td>
      <td><%=order.status%></td>
      <td><%=@costs[order.id]%> EGP</td>
      <td>
        <%if order.status=="processing"%>
        <a class="item" href="#">Cancel</a>
        <%end%>
      </td>

    </tr>

    <%end%>
  </tbody>
</table>
<%for product in @products%>
<%for pinfo in product%>
<%=pinfo.name%>
<%=pinfo.amount%>
<%=pinfo.price%>
<%end%>
<br>
<%end%>
