<h1>
  Products
  <%= link_to new_admin_product_path, class: "ui green small labeled icon add button right floating" do %>
      <i class="add icon"></i> New Product
  <% end %>
</h1>

<table class="ui table">
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
    <th>Availability</th>
    <th>Category</th>
    <th>Options</th>
  </tr>
  </thead>

  <tbody>
  <% if @products.each do |product| %>
      <tr>
        <td>
          <% if product.picture %>
              <%= image_tag product.picture.url(:thumb),:class => "ui mini image" %>
          <% end %>
        </td>
        <td>
          <strong><%= product.name %></strong>
        </td>
        <td>
          <strong><%= product.price %></strong>
        </td>
        <td>
          <div class="ui toggle checkbox">
            <input class="checkbox_input" id="checkbox_<%= product.id %>" name="availability" type="checkbox" <% if product.availability %> checked <% end %>/>
          </div>
        </td>
        <td>
          <strong><%= product.category.name %></strong>
        </td>
        <td>
          <div class="ui buttons mini">
            <%= link_to edit_admin_product_path(product), class: "ui button" do %>
                <i class="edit icon"></i> Edit
            <% end %>
            <%= link_to admin_product_path(product), method: :delete, data: {confirm: 'Are you sure?'}, class: "ui button" do %>
                <i class="trash icon"></i> Delete
            <% end %>
          </div>
        </td>
      </tr>
  <% end.empty? %>
      <tr>
        <td colspan="2">
          <strong>Nothing to show right now!!</strong>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<script type="text/javascript">
$(function(){
  $('.checkbox_input').change(function(){
      var product_availability = 0
      if(this.checked){
          product_availability = 1
      }
      var product_id = this.id.split("_")[1]
      console.log("my id: "+product_id)
      product_data = {
            availability: product_availability

      }
      console.log(product_data)
      $.ajax({
          contentType: "application/json",
          type: "PUT",
          url: "/admin/products/" + product_id,
//          data: {"product":{"availability":"0"}},
          date: JSON.stringify(product_data),
          success: function (data) {
              console.log(data)
          }
      })
  });
})
</script>
