<h1>
  Products
  <%= link_to new_admin_product_path, class: "ui green small labeled icon add button right floating" do %>
      <i class="add icon"></i> New Product
  <% end %>
</h1>

<table class="ui table">
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
    <th>Availability</th>
    <th>Category</th>
    <th>Options</th>
  </tr>
  </thead>

  <tbody>
  <% if @products.each do |product| %>
      <tr>
        <td>
          <% if product.picture %>
              <%= link_to image_tag(product.picture.url(:thumb)), product.picture.url, target: '_blank' %>
          <% end %>
        </td>
        <td>
          <strong><%= product.name %></strong>
        </td>
        <td>
          <strong><%= product.price %></strong>
        </td>
        <td>
          <strong><%= product.availability %></strong>
        </td>
        <td>
          <strong><%= product.category.name %></strong>
        </td>
        <td>
          <div class="ui buttons mini">
            <%= link_to edit_admin_product_path(product), class: "ui button" do %>
                <i class="edit icon"></i> Edit
            <% end %>
            <%= link_to admin_product_path(product), method: :delete, data: {confirm: 'Are you sure?'}, class: "ui button" do %>
                <i class="trash icon"></i> Delete
            <% end %>
          </div>
        </td>
      </tr>
  <% end.empty? %>
      <tr>
        <td colspan="2">
          <strong>Nothing to show right now!!</strong>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>




