<h1>
  Users
  <%= link_to new_admin_user_path, class: "ui green small labeled icon add button right floating" do %>
      <i class="add icon"></i> New User
  <% end %>
</h1>

<table class="ui stackable table">
  <thead>
  <tr>
    <th class="two wide">Avatar</th>
    <th class="six wide">Name</th>
    <th class="two wide">Room</th>
    <th class="two wide">Ext.</th>
    <th class="four wide"></th>
  </tr>
  </thead>

  <tbody>
  <% if @users.each do |user| %>
      <tr>
        <td><%= image_tag user.avatar.url(:thumb), :class => "ui circular image" %></td>
        <td><strong><%= user.name %></strong></td>
        <td><strong><%= user.room.name %></strong></td>
        <td><strong><%= user.ext %></strong></td>
        <td>
          <div class="ui buttons mini">
            <%= link_to edit_admin_user_path(user), class: "ui button" do %>
                <i class="edit icon"></i> Edit
            <% end %>
            <%= link_to admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'}, class: "ui button" do %>
                <i class="trash icon"></i> Delete
            <% end %>
          </div>
        </td>
      </tr>
  <% end.empty? %>
      <tr>
        <td colspan="2">
          <strong>Nothing to show right now!!</strong>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>




