<!DOCTYPE html>
<html>
<head>
  <title>RubyOnRailsCafeteria</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller.controller_name %>">

<div class="ui attached stackable menu">
  <div class="ui container">
    <%= link_to "Cafeteria", root_path, {:class => "header item header-logo"} %>

    <% if user_signed_in? %>
        <%= link_to new_order_path, :class => 'item' do  %>
            <i class="plus icon"></i> New Order
        <% end %>
        <%= link_to root_path, :class => 'item' do  %>
            <i class="list icon"></i> My Orders
        <% end %>
        <%= link_to destroy_user_session_path, :class => 'item', method: :delete, data: {confirm: 'Are you sure?'} do  %>
            <i class="users icon"></i> Logout
        <% end %>
    <% else %>
        <%= link_to new_user_session_path, :class => 'right item' do  %>
            <i class="users icon"></i> Login
         <% end %>
    <% end %>
    </p>

  </div>
</div>

<% if notice %>
    <div class="ui container green inverted segment">
      <p><%= notice %></p>
    </div>
<% end %>

<% if alert %>
    <div class="ui container red inverted segment">
      <p><%= alert %></p>
    </div>
<% end %>

<div class="ui container segment">
  <%= yield %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('.ui.checkbox').checkbox();
        $('.menu .item').tab();
    });
</script>

</body>
</html>
